# Assignment 10

## Glen Quadros 202051211

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

1. Perform t-test on cookie cats data and make conclusions from derived p-value.

In [2]:
df_cc = pd.read_csv('/content/cookie_cats.csv')

In [3]:
df_cc.head()

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False
1     337  gate_30              38         True        False
2     377  gate_40             165         True        False
3     483  gate_40               1        False        False
4     488  gate_40             179         True         True

In [5]:
from scipy.stats import ttest_ind

gate_30 = df_cc[df_cc['version'] == 'gate_30']['sum_gamerounds']
gate_40 = df_cc[df_cc['version'] == 'gate_40']['sum_gamerounds']

t_stat, p_val = ttest_ind(gate_30, gate_40, equal_var=False)

print('t-statistic:', t_stat)
print('p-value:', p_val)

t-statistic: 0.8854374331270672
p-value: 0.37592438409326223

2. Create contingency table from ”Specialism” and ”Batting” type of player from IPL Data.
Perform Chi square test on data in contingency table.

In [6]:
df_ipl = pd.read_csv('/content/IPL_Auction_2022_FullList.csv')

In [7]:
df_ipl.head()

,Set No.,Set Name,Player,Country,State Association,Age,Specialism,Batting,Bowling,IPL,Previous IPLTeam(s),2021 Team,C/U/A,Base Price,Sold Price,New Franchise,Bid
0,1,M,Trent Boult,New Zealand,NaN,32,BOWLER,RHB,LEFT ARM Fast Medium,62.0,"SRH, KKR, DD,MI",MI,Capped,200,8 CR,Rajasthan Royals,Sold
1,1,M,Pat Cummins,Australia,NaN,28,ALL-ROUNDER,RHB,RIGHT ARM Fast,37.0,"DD, MI, KKR",KKR,Capped,200,7.25 CR,Kolkata Knight Riders,Sold
2,1,M,Shikhar Dhawan,India,DDCA,36,BATSMAN,LHB,-,192.0,"DCH, MI, SRH, DC",DC,Capped,200,8.25 CR,Punjab Kings,Sold
3,1,M,Shreyas Iyer,India,MCA,27,BATSMAN,RHB,RIGHT ARM Leg Spin,87.0,DC,DC,Capped,200,12.25 CR,Kolkata Knight Riders,Sold
4,1,M,Kagiso Rabada,South Africa,NaN,26,BOWLER,LHB,RIGHT ARM Fast,50.0,DC,DC,Capped,200,9.25 CR,Punjab Kings,Sold

In [9]:
from scipy.stats import chi2_contingency

cont_table = pd.crosstab(df_ipl['Specialism'], df_ipl['Batting'])
print(cont_table)

chi2_stat, p_val, dof, expected = chi2_contingency(cont_table)

print('Chi-square statistic:', chi2_stat)
print('p-value:', p_val)
print('Degrees of freedom:', dof)

Batting       LHB  RHB
Specialism
ALL-ROUNDER    75  152
BATSMAN        36   66
BOWLER         50  152
WICKETKEEPER   13   45
Chi-square statistic: 6.59765745047411
p-value: 0.08588968354832202
Degrees of freedom: 3