# Assignment 6

## Glen Quadros
## 202051211

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
female_pop_df = pd.read_csv('/Users/glenquadros/Desktop/Data Analysis and Visualization/Assignment 6/population_of_female.csv')

In [5]:
female_pop_df.tail()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
261,Kosovo,XKX,"Population, female",SP.POP.TOTL.FE.IN,466471.0,475714.0,489406.0,503107.0,516803.0,530503.0,...,905096.0,910703.0,908173.0,896017.0,890797.0,897635.0,900766.0,896722.0,897541.0,895801.0
262,"Yemen, Rep.",YEM,"Population, female",SP.POP.TOTL.FE.IN,2776227.0,2830873.0,2887401.0,2944847.0,3005276.0,3069773.0,...,12950282.0,13323201.0,13700388.0,14077389.0,14453847.0,14831892.0,15211556.0,15593113.0,15963067.0,16313210.0
263,South Africa,ZAF,"Population, female",SP.POP.TOTL.FE.IN,8017980.0,8263745.0,8532023.0,8813888.0,9107018.0,9412255.0,...,27493643.0,27837495.0,28228865.0,28721087.0,29004108.0,29175940.0,29517286.0,29879107.0,30221143.0,30497646.0
264,Zambia,ZMB,"Population, female",SP.POP.TOTL.FE.IN,1574966.0,1626102.0,1679256.0,1734441.0,1791447.0,1850435.0,...,7499172.0,7743342.0,7993413.0,8247891.0,8507289.0,8772120.0,9041177.0,9314079.0,9589102.0,9864121.0
265,Zimbabwe,ZWE,"Population, female",SP.POP.TOTL.FE.IN,1922334.0,1983717.0,2047197.0,2112858.0,2180688.0,2250818.0,...,7041528.0,7192279.0,7347527.0,7502101.0,7656047.0,7810471.0,7966181.0,8122618.0,8284447.0,8449834.0

In [6]:
primary_comp_rate_female_df = pd.read_csv('/Users/glenquadros/Desktop/Data Analysis and Visualization/Assignment 6/primary_completion_rate_female.csv')

In [7]:
primary_comp_rate_female_df.tail()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
261,Kosovo,XKX,"Primary completion rate, female (% of relevant...",SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,"Primary completion rate, female (% of relevant...",SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,60.151791,61.386909,NaN,NaN,64.500092,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,"Primary completion rate, female (% of relevant...",SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,89.105278,88.068489,NaN,92.124298,93.236481,NaN,NaN
264,Zambia,ZMB,"Primary completion rate, female (% of relevant...",SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,87.913467,78.582474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Zimbabwe,ZWE,"Primary completion rate, female (% of relevant...",SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,97.962959,98.854950,97.411469,100.912598,99.207138,96.014954,93.238541,89.320374,90.90255,86.107933

### 1. Create a column named “average_rate” in “primary_completion_rate_female.csv” that contains the average (over time) completion rate.

In [8]:
primary_comp_rate_female_df['average_rate'] = primary_comp_rate_female_df.mean(axis=1)

/var/folders/8q/hwngzqvx0871np5x0mj6_d9h0000gn/T/ipykernel_5439/3385295109.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  primary_comp_rate_female_df['average_rate'] = primary_comp_rate_female_df.mean(axis=1)

In [9]:
primary_comp_rate_female_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,average_rate
0,Aruba,ABW,"Primary completion rate, female (% of relevant...",SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,101.255234,101.555870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.203056
1,Africa Eastern and Southern,AFE,"Primary completion rate, female (% of relevant...",SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,66.028069,66.263290,66.115013,66.932449,68.167793,69.499100,69.990547,70.825378,NaN,52.899081
2,Afghanistan,AFG,"Primary completion rate, female (% of relevant...",SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,63.604069,66.688881,67.129303,65.761513,NaN,NaN,28.085734
3,Africa Western and Central,AFW,"Primary completion rate, female (% of relevant...",SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,64.063690,64.651100,65.822060,66.608093,66.362289,66.722877,66.927361,67.231689,NaN,54.108691
4,Angola,AGO,"Primary completion rate, female (% of relevant...",SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.111267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Primary completion rate, female (% of relevant...",SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,"Primary completion rate, female (% of relevant...",SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,61.386909,NaN,NaN,64.500092,NaN,NaN,NaN,NaN,NaN,48.823942
263,South Africa,ZAF,"Primary completion rate, female (% of relevant...",SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,89.105278,88.068489,NaN,92.124298,93.236481,NaN,NaN,88.622194
264,Zambia,ZMB,"Primary completion rate, female (% of relevant...",SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,78.582474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.949980
265,Zimbabwe,ZWE,"Primary completion rate, female (% of relevant...",SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,98.854950,97.411469,100.912598,99.207138,96.014954,93.238541,89.320374,90.902550,86.107933,91.649270

### 2. Create a column named “Latest Population” in “population_of_female.csv” that contains the latest population of females in the country.

In [12]:
female_pop_df['Latest Population'] = female_pop_df['2021']

In [15]:
female_pop_df.tail()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Latest Population
261,Kosovo,XKX,"Population, female",SP.POP.TOTL.FE.IN,466471.0,475714.0,489406.0,503107.0,516803.0,530503.0,...,910703.0,908173.0,896017.0,890797.0,897635.0,900766.0,896722.0,897541.0,895801.0,895801.0
262,"Yemen, Rep.",YEM,"Population, female",SP.POP.TOTL.FE.IN,2776227.0,2830873.0,2887401.0,2944847.0,3005276.0,3069773.0,...,13323201.0,13700388.0,14077389.0,14453847.0,14831892.0,15211556.0,15593113.0,15963067.0,16313210.0,16313210.0
263,South Africa,ZAF,"Population, female",SP.POP.TOTL.FE.IN,8017980.0,8263745.0,8532023.0,8813888.0,9107018.0,9412255.0,...,27837495.0,28228865.0,28721087.0,29004108.0,29175940.0,29517286.0,29879107.0,30221143.0,30497646.0,30497646.0
264,Zambia,ZMB,"Population, female",SP.POP.TOTL.FE.IN,1574966.0,1626102.0,1679256.0,1734441.0,1791447.0,1850435.0,...,7743342.0,7993413.0,8247891.0,8507289.0,8772120.0,9041177.0,9314079.0,9589102.0,9864121.0,9864121.0
265,Zimbabwe,ZWE,"Population, female",SP.POP.TOTL.FE.IN,1922334.0,1983717.0,2047197.0,2112858.0,2180688.0,2250818.0,...,7192279.0,7347527.0,7502101.0,7656047.0,7810471.0,7966181.0,8122618.0,8284447.0,8449834.0,8449834.0

### 3. What is the weighted average of primary rates of different countries? The weight should be the Latest population of females in the country.

In [20]:
weights = female_pop_df['Latest Population']/female_pop_df['Latest Population'].sum()

In [21]:
weights

0      0.000001
1      0.008351
2      0.000467
3      0.005597
4      0.000411
         ...
261    0.000021
262    0.000384
263    0.000718
264    0.000232
265    0.000199
Name: Latest Population, Length: 266, dtype: float64

### 4. What is the Median of average primary completion rate?

In [22]:
female_pop_df['Latest Population'].median()

5368123.0

### 5. What is the InterQuartile Range of average primary completion rate?

In [23]:
IQR = female_pop_df["Latest Population"].quantile(0.75) - female_pop_df["Latest Population"].quantile(0.25)

In [24]:
IQR

31397807.0

### 6. What is the Variance of average primary completion rate?

In [25]:
female_pop_df['Latest Population'].var()

2.480701920448484e+17